
<nav class="navbar navbar-expand-sm">
      <div class="container menu">
        <a class="navbar-brand brand">Portfolio</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item" *ngFor="let orgName of OrganizationList " routerLinkActive="linkActive">
                    <a class="nav-link" [routerLink]="['/home',orgName.id]" >{{orgName.organizationName}}</a>
                </li>
            </ul>

        </div>
  </div>
</nav>

