<div class="container my-5">
    <div class="row inner gx-5 ">

        <div class="col-md-6 mt-4 pe-1"> 
            <div class="layer px-3">
                <div class="imgCover">
                    <img [src]="itemdetails[0]?.coverImage" class="w-100" alt="">
                </div>
            </div>
        </div>  
        <div class="col-md-6 my-5">
            <div class="inner-info">
                <h2>{{itemdetails[0]?.organizationName}}</h2> 
                <p class="text-muted">{{itemdetails[0]?.description}}</p> 
            </div>
        </div> 
    </div>
</div>